@import "tailwindcss";

:root {
    --primary-color: #353535;
    --secondary-color: #353535;
    --primary-text-color: #353535;
    --secondary-text-color: #353535;
}

@theme {
    --animate-fade-in-y: fade-in-y 0.3s ease-out;
    @keyframes fade-in-y {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }